.icon {
  width: 140px;
  font-size: 40px;
  font-family: 'Trispace', sans-serif;
  text-decoration: none;
  color: #2d334a;
}

.navbar {
  background-color: #bae8e8;
  display: flex;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  display: block;
}

.item-new {
  text-decoration: none;
  color: #2d334a;
  display: block;
  border: 2px solid #ffd803;
  margin: 10px;
  background-color: #ffd803;
}

.user-index {
  text-decoration: none;
  color: #2d334a;
  display: block;
  border: 2px solid #ffd803;
  margin: 10px;
}

.c-btn {
  text-decoration: none;
  color: #2d334a;
  display: block;
  border: 2px solid #ffd803;
  margin: 10px;
  width: 120px;
}

.y-btn {
  text-decoration: none;
  color: #2d334a;
  display: block;
  border: 2px solid #ffd803;
  margin: 10px;
  background-color: #ffd803;
  width: 120px;
}