h2 {
  text-align: center;
  font-size: 25px !important;
  position: relative;
  padding: 1rem 0.5rem !important;
  background: #fff;
  margin: 10px auto !important;
  min-width: auto;
  max-width: 500px;
}

h2:before {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

.sc-table {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  width: 90vw;
}

.sc-table::-webkit-scrollbar {
  overflow-x: scroll;
  white-space: nowrap;
  width: 10px;
  height: 10px;
}

.sc-table::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

.sc-table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ffd803;
}

table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  box-shadow: 0 0 15px -6px #00000073;
}

table tr {
  background-color: #fff;
}

tr[data-status="true"] {
  background:rgba(255,216,3,0.6);
}

table th,
table td {
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
  max-width: 80vw;
}

table  th {
  width: auto;
  padding: 10px 0;
  font-size: 14px;
  padding: 10px;
  background-color: #ffd803;
  color:#272343;
  text-align: center;
  min-width: 80px;
}

table tr{
  text-align: center;
  width: auto;
  padding: 20px 0;
  background-color: #fffffe;
  color:#3a3a3a;
}

.admin-btn {
  margin-left: 5px;
  font-size: 13px;
  width: 140px;
}

.right {
  text-align: right;
}

.btn-small {
  width: 40px;
  height: 20px;
  font-size: 13px;
  padding: 0px;
}

.organization-btn-contents {
  display: flex;
  align-items: center;
}

.main {
  font-size: medium;
  background-color:#e3f6f5;
  padding-top: 20px;
  min-height: calc(100vh - 88px);
  padding: 20px 0;
}

.wrapper {
  position: relative;
  background-color:#bae8e8;
}